<div>
    <h1 style="color:blue">
        Crud Api Departamentos
    </h1>
    <table class="table table-warning">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (dept of departamentos; track dept){
                <tr>
                    <td>{{dept.numero}}</td>
                    <td>{{dept.nombre}}</td>
                    <td>{{dept.localidad}}</td>
                    <td>
                        <a [routerLink]="['/details', dept.numero, dept.nombre, dept.localidad]"
                        class="btn btn-dark">
                            Details
                        </a>
                        <a [routerLink]="['/update', dept.numero]" 
                        class="btn btn-info">
                            Edit
                        </a>
                        <button class="btn btn-danger"
                        (click)="deleteDepartamento(dept.numero)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>