<div>
    <p>
        <a [routerLink]="['/']">Back to index</a>
    </p>
    @if (departamento){
        <ul class="list-group">
            <li class="list-group-item">
                Id: {{departamento.numero}}
            </li>
            <li class="list-group-item">
                Nombre: {{departamento.nombre}}
            </li>      
            <li class="list-group-item">
                Localidad: {{departamento.localidad}}
            </li>                  
        </ul>
    }
</div>